<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category
        	name="Presley"
            id="presley">
		</category>

      
		      
		<view
    		name="Dominio"
        	category="presley"
        	class="com.hukarz.presley.client.gui.view.Dominio"
        	id="com.hukarz.presley.client.gui.view.Dominio"
        	restorable="true">
		</view>
      
		<view
			name="Ler Mensagem"
			category="presley"
			class="com.hukarz.presley.client.gui.view.LerMensagem"
			id="com.hukarz.presley.client.gui.view.LerMensagem"
			restorable="true">
		</view>
      
      <view
      		name="Mensagem"
      		category="presley"
            class="com.hukarz.presley.client.gui.view.MensagemAba"
            id="com.hukarz.presley.client.gui.view.MensagemAba"
            restorable="true">
      </view>
      
   </extension>
   
</plugin>
